:root {
    font-family:"Gelasio", serif;
    line-height: 160%;
}

body {
    background-image: url(assets/bg-castelo.jpg);
    background-size: 120% auto;
    background-attachment: fixed;
    padding: 24px;
}

div {
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color: #c2e3f0;
    border-radius: 24px;
    margin: 48px auto 28px;
    color: black;
    font-size: 16px;
}
section + section {
    margin-top: 30px;
}

#pontos img{
    width: 700px;
    border-radius: 16px;
}
p + p {
    margin-bottom: 24px;
}

footer {
    text-align: center;
}